:root{
    --color_boton: blue;
    --fuente:San-serif;
    --tamaño_boton:43%;
    --alto_boton:43%;
}
body{
    margin: 0;
    padding: 0;
}
table{
    border: 2px;
   
    width: 100%;

}
tr .bottons
{
    width: var(--tamaño_boton);
    height: var(--alto_boton);
   
    background-color: var(--color_boton);
    font-family: var(--fuente);
    font-size: 35px;
    text-align: center;
}
 td input [type=button] {
    width: var(--tamaño_boton);
    height: var(--alto_boton);
   
    background-color: var(--color_boton);
    font-family: var(--fuente);
    font-size: 35px;
    text-align: center;
}
 input [type=text]{
    width: 90%;
    height: 40%;

}
input[type=text]:focus {
    border: 3px solid #555;
}